<script is:inline src="https://product-gallery.cloudinary.com/all.js" type="text/javascript">
</script>  

<div id="my-gallery" style="max-width:80%;margin:auto">
</div>

<script is:inline type="text/javascript">  
const myWidget = cloudinary.galleryWidget({
    "cloudName": "magiaslabcdn",
    "mediaAssets": [{
        "publicId": "SVB/Mensana/433652798_7638276649556966_4474572153766140715_n_cgxa60",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/433652798_7638276649556966_4474572153766140715_n_ypaae2",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/433672124_7638278696223428_6910074134800154550_n_qasxso",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/433672124_7638278696223428_6910074134800154550_n_qlwqgd",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434066308_7638274816223816_5921764181224908046_n_yi4po9",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434066308_7638274816223816_5921764181224908046_n_yqhnla",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434087030_7638277156223582_8799353329077710357_n_o4iswu",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434087030_7638277156223582_8799353329077710357_n_q6sbdr",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434096537_7638275129557118_4517094333301167192_n_lp4qhw",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434114757_7638278872890077_5430611685547653793_n_ktpqac",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434114757_7638278872890077_5430611685547653793_n_qdadnh",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434118142_7638277442890220_2887356210403081180_n_yrikd8",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434119399_7638278942890070_6412658867359262072_n_rlwdjy",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434119399_7638278942890070_6412658867359262072_n_tpt0ze",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434120625_7638275659557065_664480903085412620_n_cic8rf",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434120625_7638275659557065_664480903085412620_n_qddpwd",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434127589_7638278046223493_5654075145264052061_n_rnheas",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434127902_7638278226223475_8968210303939761047_n_jgat70",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434129076_7638277119556919_374546341568030121_n_gyylby",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434129339_7638278709556760_9041244016695538178_n_pt2lnj",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434129339_7638278709556760_9041244016695538178_n_q9ly3e",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434129417_7638277482890216_1224359704487032280_n_airc1y",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434129417_7638277482890216_1224359704487032280_n_ntnxc5",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434130903_7638276796223618_2081202909721676909_n_moda1d",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434133609_7638277282890236_6165389435451366271_n_soo76l",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434135284_7638275299557101_8105349960943355677_n_dggyvp",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434135599_7638274506223847_3090210957012416035_n_ckc7hp",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434135599_7638276316223666_7684938662428839225_n_codh1v",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434135617_7638277739556857_7412916482124908711_n_ixb4js",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434136359_7638273806223917_4289307963540765771_n_yg4pte",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434136383_7638277602890204_5926952537580401491_n_jhx6ew",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434139398_7638278422890122_6912831446474718916_n_t6dpd4",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434139661_7638277676223530_3208489496153807801_n_l9sbwf",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434140893_7638274112890553_4415323756842083108_n_lxzsaq",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434145633_7638278206223477_1368003835447853029_n_csxgdl",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434149021_7638276306223667_8394112816358227873_n_uwp80p",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434150328_7638276692890295_1875996910185713802_n_x9vi6i",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434150749_7638275322890432_4394997628732260052_n_kuca2m",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434161216_7638273862890578_7271071795043654444_n_ip3qof",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434162707_7638276042890360_4305707961216350558_n_gm2doi",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434163684_7638275192890445_404826581630576383_n_dxczh8",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434165982_7638275159557115_7357855270842952047_n_nlwvki",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434170804_7638275612890403_1424047688775658274_n_qkygck",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434170830_7638277979556833_7447387964804375410_n_cfbafz",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434177766_7638273782890586_7091904674357618298_n_s7om2a",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434178796_7638275419557089_476189062318955727_n_occxhd",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434184475_7638275832890381_7372388844858235254_n_bgyx42",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434187906_7638276262890338_8187895064193194141_n_w1senw",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434190022_7638279036223394_7429536495773021247_n_v1pqw6",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434191588_7638276482890316_5605499276053950470_n_ab9sjd",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434194785_7638279182890046_3731182335882573413_n_skuvf2",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434195332_7638278552890109_6987875588791825464_n_osz8yu",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434195905_7638279302890034_3719567935607647452_n_pxitc8",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434370932_7638276932890271_4615138165273640325_n_wznmit",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434375111_7638274682890496_105226537268032732_n_rryryy",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434382476_7638277882890176_6111263805856396478_n_oxknou",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434385837_7638279252890039_5636145624971219537_n_k3zdi5",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434388030_7638275586223739_2830092112133778248_n_lf22nn",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434390573_7638277816223516_2448478521464139484_n_kilggp",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434399778_7638276056223692_5524739771457835244_n_cmhkw7",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434402884_7638276952890269_8488208653596952895_n_gs1cbh",
        "mediaType": "image"
    }, {
        "publicId": "SVB/Mensana/434415682_7638278822890082_514980014615537150_n_rp4dnu",
        "mediaType": "image"
    }],
    "displayProps": {
        "mode": "expanded",
        "columns": 3
    },
    "aspectRatio": "16:9",
    "navigationButtonProps": {
        "shape": "radius",
        "color": "#FFFFFF",
        "iconColor": "#000000"
    },
    "zoomProps": {
        "type": "popup",
        "steps": 3
    },
    "thumbnailProps": {
        "mediaSymbolShape": "radius",
        "navigationColor": "#FFFFFF",
        "navigationIconColor": "#000000"
    },
    "container": "#my-gallery"
});
myWidget.render();