---
const { title } = Astro.props;
import Lightbox from '@julian_cataldo/astro-lightbox/Lightbox.astro';
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <Lightbox />
    <title>{ title }</title>
  </head>
  <body>
    
      <slot /> <!-- your content is injected here -->
  


    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
   

  </body>
</html>